<!DOCTYPE html>
<html lang="en">

<head>
 	<title> Thanh lý túi máu</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="This is website management hospital">
  	<meta name="author" content="Team real intership in VNPT-IT">

  	<link rel="stylesheet" type="text/css" href="css/style_thanhlytuimau.css">
  	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

  	<script src="jquery.js"></script>
  	<script src="thanhlytuimau.js"></script>
	  <script src="/socket.io/socket.io.js"></script>
	  <!--button-->
	  <script type = "text/javascript">
		function getInfo(){
			var sotiepnhan = document.getElementById("Sotiepnhan").value;
			var ngay = document.getElementById("Ngay").value;
			var matuimau = document.getElementById("Matuimau").value;
			var mau = document.getElementById("Mau").value;
			var solo = document.getElementById("Solo").value;
			var lydothanhly = document.getElementById("Lydothanhly").value;
			var soluong = document.getElementById("Soluong").value;
			var noixuat = document.getElementById("Noixuat").value;
			var diengiai = document.getElementById("Diengiai").value;
			var trangthai = document.getElementById("Trangthai").value;
			var loaiphieu = document.getElementById("Loaiphieu").value;
			var nguoixuat = document.getElementById("Nguoixuat").value;
			var nguoiduyet = document.getElementById("Nguoiduyet").value;
			
			
			if(sotiepnhan){
				//dongiamua = val2;
				document.getElementById("val-1").innerHTML = sotiepnhan;
				document.getElementById("val-2").innerHTML = ngay;
				document.getElementById("val-3").innerHTML = matuimau;
				document.getElementById("val-4").innerHTML = mau;
				document.getElementById("val-5").innerHTML = solo;
				document.getElementById("val-6").innerHTML = lydothanhly;
				document.getElementById("val-7").innerHTML = soluong;
				document.getElementById("val-8").innerHTML = noixuat;
				document.getElementById("val-9").innerHTML = diengiai;
				document.getElementById("val-10").innerHTML = trangthai;			
				document.getElementById("val-11").innerHTML = loaiphieu;
				document.getElementById("val-12").innerHTML = nguoixuat;
				document.getElementById("val-13").innerHTML = nguoiduyet;
		
			}
		}
	  </script>
	  
	  <link rel="icon" href="http://www.thuthuatweb.net/wp-content/themes/HostingSite/favicon.ico" type="image/x-ico"/>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	  <meta name="description" content="Animated Buttons with CSS3" />
	  <meta name="keywords" content="css3, transitions, button, animation, hover, effect, icon, call-to-action, active" />

	  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
	  <!--button-->

<!--cố định  bảng-->
	  <script   
	  src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
	   </script>
	   <script>
   
	   function scrolify(tblAsJQueryObject, height){
		   var oTbl = tblAsJQueryObject;
   
		   // for very large tables you can remove the four lines below
		   // and wrap the table with <div> in the mark-up and assign
		   // height and overflow property  
		   var oTblDiv = $("<div/>");
		   oTblDiv.css('height', height);
		   oTblDiv.css('overflow','scroll');               
		   oTbl.wrap(oTblDiv);
   
		   // save original width
		   oTbl.attr("data-item-original-width", oTbl.width());
		   oTbl.find('thead tr ').each(function(){
			   $(this).attr("data-item-original-width",$(this).width());
		   }); 
		   oTbl.find('tbody tr:eq(0) td').each(function(){
			   $(this).attr("data-item-original-width",$(this).width());
		   });                 
   
   
		   // clone the original table
		   var newTbl = oTbl.clone();
   
		   // remove table header from original table
		   oTbl.find('thead tr').remove();                 
		   // remove table body from new table
		   newTbl.find('tbody tr').remove();   
   
		   oTbl.parent().parent().prepend(newTbl);
		   newTbl.wrap("<div/>");
   
		   // replace ORIGINAL COLUMN width                
		   newTbl.width(newTbl.attr('data-item-original-width'));
		   newTbl.find('thead tr td').each(function(){
			   $(this).width($(this).attr("data-item-original-width"));
		   });     
		   oTbl.width(oTbl.attr('data-item-original-width'));      
		   oTbl.find('tbody tr:eq(0) td').each(function(){
			   $(this).width($(this).attr("data-item-original-width"));
		   });                 
	   }
   
	   $(document).ready(function(){
		   scrolify($('#tblNeedsScrolling'), 160); // 160 is height
	   });
  
	   </script>
	   <!--cố định bản -->
</head>
<body>
    <div class="wrap">
    	<div id="banner">
    		<div id = "logo">
				<img src="./image/benhvien.png" alt="logo" height="100px" width="100px">
				<img src="./image/bacsi2.png" alt="logo" height="100px" width="100px">
    		</div>
    		<div>
     			<h4 id="title-banner"> THANH LÝ TÚI MÁU</h4>
     		</div>
     		<div id = "trangchu">
     			<button id="btnTrangchu"><img src="./image/home.png" alt="home" height="20px" width="20px"><br>Trang chủ
     			</button> <br>
				 <button id="btnThoat"><img src="./image/exit.png" alt="home" height="20px" width="20px"><br>Thoát</button><br>		 
     		</div>
		   </div>
		   <div class="menu">
				<div class="menuholder">
						
								<ul class="menu slide">
						
									<li><a href="https://www.script-tutorials.com/" class="red"><img width=  56px; height=33px; src="./image/7.png"><br>Thêm</a> </li>
						
									<li><a href="https://www.script-tutorials.com/" class="orange"><img width=  56px; height=33px src="./image/10.png"><br>Lưu</a>
										
									</li>
						
									<li><a href="https://www.script-tutorials.com/category/resources/" class="yellow"> <img width=  56px; height=34px; src="./image/1212.png"><br>Xóa</a>
						
										
									</li>
						
									<li><a href="https://www.script-tutorials.com/category/resources/" class="green"><img width=  56px; height=33px; src="./image/0.png"><br>Làm mới</a></li>
						
									<li><a href="https://www.script-tutorials.com/about/" class="blue"><img width=  60px; height=33px; src="./image/6.png"> <br>In</a></li>
						
									<li><a href="https://www.script-tutorials.com/creating-css3-dropdown-menu-3/" class="violet"><img width= 60px; height=33px; src="./image/1.png"><br>Danh sách</a></li>
									<br><div class="timkiem">
										<form id="demo-2">
											<input type="search" placeholder="Tìm kiếm">
										</form>
										</div>
								</ul>
								
								<div class="back"></div>
						
								<div class="shadow"></div>
						
							</div>
						
							<div style="clear:both"></div>
						
	</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
        function searchToggle(obj, evt){
            var container = $(obj).closest('.search-wrapper');
 
            if(!container.hasClass('active')){
                  container.addClass('active');
                  evt.preventDefault();
            }
            else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                  container.removeClass('active');
                  // clear input
                  container.find('.search-input').val('');
                  // clear and hide result container when we press close
                  container.find('.result-container').fadeOut(100, function(){$(this).empty();});
            }
        }
</script>
    	<div class="content">
			<div id="tren">
    		<div id="form-kholuutrumau">
				<div class="nhapthongtin">
    			<table id="form-table">
    				<form name="formnhapthongtin">
							
							<tr> <th style="width: 90px;" align="left">Số tiếp nhận: </th>
								<td style="width: 50px;" ><input autofocus="autofocus" style ="height: 26px;"type="text" id = "Sotiepnhan"> </td>
								 <th style="width: 60px;" >Ngày : </th> 
									<td style=" width: 20px; margin-right: 4px;" ><input type="date" id ="Ngay"> </td>
									</tr>
	</form>
	</table>
						</div >
						
						<div class="nhapthongtin2">
							<table id="form-table2">
								<form name="formnhapthongtin2">
									
    					<tr>
    						<th style="">Nơi xuất:</th>
    						<td class="tt">
    							<select style="width: 250px;" id="Noixuat">
										<option >
    								
    								</option>
    								<option >
    									Bạch mai
    								</option>
    							</select>
    						</td>
    					</tr>    				
    					<tr>
    						<th style=" margin-top:-10px; padding-bottom: 50px;">Diễn giải: </th> 
								<td   ><textarea cols="60" rows="4" id="Diengiai" ></textarea></td>
    					</tr> 
                        

					  						
    					
						
						</form>
						</table>
					</div>
		
						</div>
    					
			<!--end nhap thong tin-->
    		<div id="info">
    			<table id="form-hienthi"  >
    				<form name="formhienthithongtin">
    					
    					<tr>
							<th style="width:200px;">Trạng thái:</th>
    						<td >
    							<select  style="width:250px;" id="Trangthai">
										<option >
    								
    								</option>
    								<option >
    									Bạch mai
    								</option>
    							</select>
							</td>   	
							<th align="center" style=" margin-top: 10px; width:200px;">Loại Phiếu:</th>
    						<td style=" width:180px; padding-left: 8px;"   >
								<select style="width:200px;" id="Loaiphieu">
										<option value="default"></option>
										<option >
											Viện phí
    								</option>
    								<option >
    								
    								</option>
								</select>
															
    					</tr>
    					<tr>
							<th style="width:200px;">Người xuất:</th>
    						<td class="tt">
    							<select style="width:250px;" id="Nguoixuat">
										<option >
    								
    								</option>
    								<option >
    									Bạch mai
    								</option>
    							</select>
    						</td>
								
						</tr>
						<tr>
								<th style=" width:200px; margin-top:-10px; padding-bottom: 50px;">Người Duyệt: </th> 
									<td   ><textarea cols="60" rows="4" id="Nguoiduyet" ></textarea></td>
							</tr> 
							

    				</form>
    			</table>
			</div>
			</div><br>
			<!--end thong tin mau-->
<div class="tuimau">
	
<div class="table-nhommau">
	<table id="ban-nhommau">

	<form>

		<tr> 

			<th>Mã túi máu</th>
		<td > <select style="width: 175px; "  id ="Matuimau">
				<option value="default"></option>
				<option >
			A
			</option>
			<option >
			O
			</option>
			<option >
					B
			</option>
		</select></td>
		
		
		
		 <th>Máu</th>
			<td ><select style="width: 175px;" id = "Mau">
					<option value="default"></option>
					<option >
				D+
				</option>
				<option >
					Bạch mai
				</option>
			</select></td>
			<th>Số lô:</th>
		<td > <select style="width: 175px; "  id = "Solo">
				<option value="default"></option>
				<option >
			A
			</option>
			<option >
			O
			</option>
			<option >
					B
			</option>
		</select></td>
		<th>Ly do thanh ly:</th>
				<td><input  style="  height: 26px;"type="text" id = "Lydothanhly"></td>
			
		
				<th>Số lượng:</th>
				<td><input  style="  height: 26px;"type="text" id = "Soluong"></td>
				<td style="width: 60px; "><button style="width: 40px; height: 40px; " onclick="getInfo()" type = "button"> <a  href="#" class="a-btn"><span class="a-btn-icon-right"><span ></span></span></a></button></td>
			<!--	<td style="width: 60px;"><a  href="#" class="a-btn"><span  class="a-btn-icon-close"><span ></span></span></a></td>-->
		</tr>
</form>
</table>
	</div>
	<!--end table-nhommau-->
</div>
<!---end túi máu -->

<!-- bang thong tin-->
			<div class="panel-body">
				
					<span style="font-size: 30px; color: red; margin-left: 5px;">Thông tin máu</span>
				<div class="form1">
					<form class="bangthongtin" >
				
						
						<table class="bangthong-tin" cellspacing="0" border="1 "  cellpadding="2" id="tblNeedsScrolling" >
							<thead>
						<tr style=" background:rgb(8, 89, 143);color:#ffffff; ">
						
						<th>Số tiếp nhận</th>
						<th>Ngày:</th>
						<th>Mã túi máu</th>
						<th>Máu</th>
						<th>Số lô</th>
						<th>Lý do thanh lý</th>
						
						<th>Số lượng</th>
						<th>Nơi xuất</th>
						<th>Diễn giải</th>
						<th>Trạng thái</th>
						<th>Loại phiếu</th>
						<th>Người xuất</th>
						<th>Nhười duyệt</th>
					
					
						
					
						<th colspan = "2" >Lựa  Chọn</th>
						</tr >
				</thead>
						<tbody>
							
						<tr >
						<td> <div id="val-1"></div></td>
						<td><div id = "val-2"></div></td>
						<td><div id ="val-3"></div></td>
						<td><div id="val-4"></div></td>
						<td> <div id="val-5"></div></td>
						<td><div id="val-6"></div></td>
						<td><div id ="val-7"></div></td>
						<td><div id = "val-8"></div></td>
						<td><div id="val-9"></div></td>
						<td> <div id="val-10"></div></td>
						<td><div id="val-11"></div></div></td>
					
						<td><div id ="val-12"></td>
							<td> <div id="val-13"></div></td>
							
							
										
						<td><input id="check" type="checkbox"> </td>
						<td><a href=""><img   style =" width: 15px; height: 15px;" src="./image/but.png"></a></td>
						</tr>
				
					</tbody>
					
									</table>
							
				
					</form>
					</div>
				</div>


      	</div>
	</div><br>

	


    <div class="footer">
    	
      	<span id="footer1">	<marquee>Tư vấn hệ thống - Liên hệ: 070xxxxx - Website công ty: vnptit.vn</marquee></span>
     
      		<span>Copyright &copy; 2019 by VNPT</span>
      	</div>
    
</body>
</html>