<!DOCTYPE html>
<html lang="en">

<head>
 	<title> Kho Lưu trữ máu</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="This is website management hospital">
  	<meta name="author" content="Team real intership in VNPT-IT">

  	<link rel="stylesheet" type="text/css" href="css/style_kholuutrumau.css">
  	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

  	<script src="jquery.js"></script>
  	<script src="kholuutrumau.js"></script>
	  <script src="/socket.io/socket.io.js"></script>
	  <!--button-->
	  <script type = "text/javascript">
		function getInfo(){
			var sotiepnhan = document.getElementById("Sotiepnhan").value;
			var ngay1 = document.getElementById("Ngay1").value;
			var matuimau = document.getElementById("Matuimau").value;
			var hansudung = document.getElementById("Hansudung").value;
			var ngaylaymau = document.getElementById("Ngaylaymau").value;
			var nhomabo = document.getElementById("NhomABO").value;
			var nhomrhd = document.getElementById("NhomRhD").value;
			var soluong = document.getElementById("Soluong").value;
			var dongiamua = document.getElementById("Dongiamua").value;
			var loaisanpham = document.getElementById("Loaisanpham").value;
			var donvigiao = document.getElementById("Donvigiao").value;
			var donvinhan = document.getElementById("Donvinhan").value;
			var nguoinhan = document.getElementById("Nguoinhan").value;
			var dathang = document.getElementById("Dathang").value;
			var trangthai = document.getElementById("Trangthai").value;
			var nguonmau = document.getElementById("Nguonmau").value;
			var kyhieumauhoadon = document.getElementById("Kyhieumauhoadon").value;
			var thanhtienvat = document.getElementById("Thanhtienvat").value;
			var soseri = document.getElementById("Soseri").value;
			var ngay2 = document.getElementById("Ngay2").value;
			var diengiai = document.getElementById("Diengiai").value;
			
			if(sotiepnhan){
				//dongiamua = val2;
				document.getElementById("val-1").innerHTML = sotiepnhan;
				document.getElementById("val-2").innerHTML = ngay1;
				document.getElementById("val-3").innerHTML = matuimau;
				document.getElementById("val-4").innerHTML = hansudung;
				document.getElementById("val-5").innerHTML = ngaylaymau;
				document.getElementById("val-6").innerHTML = nhomabo;
				document.getElementById("val-7").innerHTML = nhomrhd;
				document.getElementById("val-8").innerHTML = soluong;
				document.getElementById("val-9").innerHTML = dongiamua;
				document.getElementById("val-10").innerHTML = loaisanpham;			
				document.getElementById("val-11").innerHTML = donvigiao;
				document.getElementById("val-12").innerHTML = donvinhan;
				document.getElementById("val-13").innerHTML = nguoinhan;
				document.getElementById("val-14").innerHTML = dathang;
				document.getElementById("val-15").innerHTML = trangthai;
				document.getElementById("val-16").innerHTML = nguonmau;
				document.getElementById("val-17").innerHTML = kyhieumauhoadon;			
				document.getElementById("val-18").innerHTML = thanhtienvat;
				document.getElementById("val-19").innerHTML = soseri;
				document.getElementById("val-20").innerHTML = ngay2;
				document.getElementById("val-21").innerHTML = diengiai;
			}
		}

	  </script>
	  
	  <link rel="icon" href="http://www.thuthuatweb.net/wp-content/themes/HostingSite/favicon.ico" type="image/x-ico"/>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	  <meta name="description" content="Animated Buttons with CSS3" />
	  <meta name="keywords" content="css3, transitions, button, animation, hover, effect, icon, call-to-action, active" />

	  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
	  <!--button-->

<!--cố định  bảng-->
	  <script   
	  src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
	   </script>
	   <script>
   
	   function scrolify(tblAsJQueryObject, height){
		   var oTbl = tblAsJQueryObject;
   
		   // for very large tables you can remove the four lines below
		   // and wrap the table with <div> in the mark-up and assign
		   // height and overflow property  
		   var oTblDiv = $("<div/>");
		   oTblDiv.css('height', height);
		   oTblDiv.css('overflow','scroll');               
		   oTbl.wrap(oTblDiv);
   
		   // save original width
		   oTbl.attr("data-item-original-width", oTbl.width());
		   oTbl.find('thead tr td').each(function(){
			   $(this).attr("data-item-original-width",$(this).width());
		   }); 
		   oTbl.find('tbody tr:eq(0) td').each(function(){
			   $(this).attr("data-item-original-width",$(this).width());
		   });                 
   
   
		   // clone the original table
		   var newTbl = oTbl.clone();
   
		   // remove table header from original table
		   oTbl.find('thead tr').remove();                 
		   // remove table body from new table
		   newTbl.find('tbody tr').remove();   
   
		   oTbl.parent().parent().prepend(newTbl);
		   newTbl.wrap("<div/>");
   
		   // replace ORIGINAL COLUMN width                
		   newTbl.width(newTbl.attr('data-item-original-width'));
		   newTbl.find('thead tr td').each(function(){
			   $(this).width($(this).attr("data-item-original-width"));
		   });     
		   oTbl.width(oTbl.attr('data-item-original-width'));      
		   oTbl.find('tbody tr:eq(0) td').each(function(){
			   $(this).width($(this).attr("data-item-original-width"));
		   });                 
	   }
   
	   $(document).ready(function(){
		   scrolify($('#tblNeedsScrolling'), 110); // 160 is height
	   });
  
	   </script>
	   <!--cố định bản -->
</head>
<body>
    <div class="wrap">
    	<div id="banner">
    		<div id = "logo">
				<img src="./image/benhvien.png" alt="logo" height="100px" width="100px">
				<img src="./image/bacsi2.png" alt="logo" height="100px" width="100px">
    		</div>
    		<div>
     			<h4 id="title-banner"> KHO LƯU TRỮ MÁU</h4>
     		</div>
     		<div id = "trangchu">
     			<button id="btnTrangchu"><img src="./image/home.png" alt="home" height="20px" width="20px"><br>Trang chủ
     			</button> <br>
				 <button id="btnThoat"><img src="./image/exit.png" alt="home" height="20px" width="20px"><br>Thoát</button><br>		 
     		</div>
		   </div>
		   <div class="menu">
				<div class="menuholder">
						
								<ul class="menu slide">
									<li><a href="https://www.script-tutorials.com/" class="red"><img width=  56px; height=33px; src="./image/7.png"><br>Thêm</a> </li>
						
									<li><a href="https://www.script-tutorials.com/" class="orange"><img width=  56px; height=33px src="./image/10.png"><br>Lưu</a>
										
									</li>
						
									<li><a href="https://www.script-tutorials.com/category/resources/" class="yellow"> <img width=  56px; height=34px; src="./image/1212.png"><br>Xóa</a>
						
										
									</li>
						
									<li><a href="https://www.script-tutorials.com/category/resources/" class="green"><img width=  56px; height=33px; src="./image/0.png"><br>Làm mới</a></li>
						
									<li><a href="https://www.script-tutorials.com/about/" class="blue"><img width=  60px; height=33px; src="./image/6.png"> <br>In</a></li>
						
									<li><a href="https://www.script-tutorials.com/creating-css3-dropdown-menu-3/" class="violet"><img width= 60px; height=33px; src="./image/1.png"><br>Danh sách</a></li>
									<br><div class="timkiem">
										<form id="demo-2">
											<input type="search" placeholder="Tìm kiếm">
										</form>
										</div>
								</ul>
								
								<div class="back"></div>
						
								<div class="shadow"></div>
						
							</div>
						
							<div style="clear:both"></div>
						
	</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
        function searchToggle(obj, evt){
            var container = $(obj).closest('.search-wrapper');
 
            if(!container.hasClass('active')){
                  container.addClass('active');
                  evt.preventDefault();
            }
            else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                  container.removeClass('active');
                  // clear input
                  container.find('.search-input').val('');
                  // clear and hide result container when we press close
                  container.find('.result-container').fadeOut(100, function(){$(this).empty();});
            }
        }
</script>
    	<div class="content">
			<div id="tren">
    		<div id="form-kholuutrumau">
				<div class="nhapthongtin">
    			<table id="form-table">
    				<form name="formnhapthongtin">
							
							<tr> <th style="width:126px;" align="right">Số tiếp nhận: </th>
								<td style="width:220px;"><input autofocus="autofocus" style ="height: 26px;"type="text" id = "Sotiepnhan"> </td>
								 <th style="width:70px;" >Ngày : </th> 
									<td style="width:160px; margin-right: 4px;" ><input type="date" id ="Ngay1"> </td>
									</tr>
	</form>
	</table>
						</div >
						
						<div class="nhapthongtin2">
							<table id="form-table2">
								<form name="formnhapthongtin2">
									
    					<tr>
    						<th style="width:150px;">Nhà cung cấp:</th>
    						<td class="tt">
    							<select id="Nhacungcap">
										<option >
    								
    								</option>
    								<option >
    									Bạch mai
    								</option>
    							</select>
    						</td>
    					</tr>    				
    					<tr>
    						<th>Đơn vị giao: </th>
    						<td class="tt">
    							<select id="Donvigiao">
    								<option>
    									
    								</option>
    								<option>
    									B
    								</option>
    								<option>
    									O
    								</option>
    								<option>
    									AB
    								</option>
    							</select>
    						</td>
    					</tr> 
                        <tr>
                            <th>Đơn vị nhận: </th>
                            <td>
                                <select id="Donvinhan">
									<option value="default"></option>
                                    <option>Kho răng hàm mặt</option>
                                </select>
                            </td>
						</tr> 
						<tr>
								<th>Người nhận: </th>
								<td>
									<select id="Nguoinhan">
										<option value="default"></option>
										<option>System Administrator</option>
									</select>
								</td>
							</tr> 

					  						
    					
						
						</form>
						</table>
					</div>
		
						</div>
    					
			<!--end nhap thong tin-->
    		<div id="info">
    			<table id="form-hienthi"  >
    				<form name="formhienthithongtin">
    					
    					<tr>
							<th style="width:200px;">Trạng thái:</th>
    						<td >
    							<select id="Trangthai">
										<option >
    								
    								</option>
    								<option >
    									Bạch mai
    								</option>
    							</select>
							</td>   	
							<th align="center" style=" margin-top: 10px; width:50px;">Nguồn máu:</th>
    						<td style=" width:300px; padding-left: 8px;"  colspan="2" >
								<select style="width:200px;" id="Nguonmau">
										<option value="default"></option>
										<option >
											Viện phí
    								</option>
    								<option >
    								
    								</option>
								</select>
								<td style=""> </td>
    						</td>   							
    					</tr>
    					<tr>
								<th style="" >Ký hiệu mẫu hóa đơn: </th> 
								<td style="width:160px;" colspan="4"><input  style="width: 365px; height: 70%;"  type="text"  id="Kyhieumauhoadon"> </td>
								<td></td>
								<td></td>
							
								<td></td>
								
						</tr>
						<tr>
								<th style="width:126px;" >Số seri: </th> 
								<td style="width:180px;"><input  style="width:180px; height: 70%; "type="text" id="Soseri"> </td>
								
								<td style="width:180px;"><input style="width:180px; height: 70%; " type="text" > </td>
								<th style="width:69px;" >Ngày : </th> 
								<td style="width:160px; " ><input style=" height: 70%;"  type="date" id="Ngay2" > </td>

						</tr>
						<tr>
								<th style=" margin-top:-10px;width:126px; padding-bottom: 50px;">Diễn giải: </th> 
								<td  colspan="4" ><textarea cols="70" rows="5" id="Diengiai" ></textarea></td>
								<td></td>
								<td></td>
							
								<td></td>
						</tr>

    				</form>
    			</table>
			</div>
			</div><br>
			<!--end thong tin mau-->
<div class="tuimau">
<div class="table-tuimau">
<table id="ban-tuimau" >

	<form >
<tr></tr>
		<tr>
			<th>Mã túi máu:</th>
			<td><input style=" height: 26px; width: 180px;" type="text" id = "Matuimau"> </td>
			
			<th>Loại sản phẩm:</th>
		
				
			<td>
					<select style="height: 26px; width: 180px" id = "Loaisanpham"  >
							<option value="default"></option>
							<option>Đã nhập kho</option>
							<option>Bạch mai</option>
					</select>
			</td>
		</tr>
		
		<tr><th>Ngày lấy máu</th>
			<td><input style=" height: 26px; width: 180px;"  type="date" id = "Ngaylaymau">  </td>
		
			<th>Hạn sử dụng:</th>
			<td><input style=" height: 26px; width: 180px;"  type="date" id = "Hansudung"> </td></tr>
		<tr>
			<th>Đơn giá mua:</th>
			<td><input style=" height: 26px; width: 180px;" type="text" id = "Dongiamua"></td>
		
			<th>Số lượng</th>
			<td><input style=" height: 26px; width: 60px;" type="text" id = "Soluong"></td>
		</tr>
		<tr>
			<th>Đặt hàng:</th>
			<td><input  style=" height: 26px; width: 180px;" type="text" id="Dathang" ></td>
			
		
		</tr>
	</form>
</table>
</div>
<!--end table-tuimau-->
<div class="table-nhommau">
	<table id="ban-nhommau">
	<form>

		<tr> <th>NHÓM AOB:</th>
		<td colspan="3"> <select style="width: 175px; "  id = "NhomABO">
				<option value="default"></option>
				<option >
			A
			</option>
			<option >
			O
			</option>
			<option >
					B
			</option>
		</select></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr> <th>NHÓM RhD:</th>
			<td colspan="3"><select style="width: 175px;" id = "NhomRhD">
					<option value="default"></option>
					<option >
				D+
				</option>
				<option >
					Bạch mai
				</option>
			</select></td>
			<td></td>
			<td></td></tr>
		<tr>
				<th>Thành tiền VAT:</th>
				<td><input  style="  height: 26px;"type="text" id = "Thanhtienvat"></td>
				<td style="width: 60px; "><button style="width: 40px; height: 40px;" onclick = "getInfo()" type = "button"> <a  href="#" class="a-btn"><span class="a-btn-icon-right"><span ></span></span></a></button></td>
			<!--	<td style="width: 60px;"><a  href="#" class="a-btn"><span  class="a-btn-icon-close"><span ></span></span></a></td>-->
		</tr>
</form>
</table>
	</div>
	<!--end table-nhommau-->
</div>
<!---end túi máu -->

<!-- bang thong tin-->
			<div class="panel-body">
				
					<span style="font-size: 30px; color: red; margin-left: 5px;">Thông tin máu</span>
				<div class="form1">
					<form class="bangthongtin" >
				
						
						<table class="bangthong-tin" cellspacing="0" border="1 "  cellpadding="2" id="tblNeedsScrolling" >
								<thead>
						<tr style=" background:rgb(8, 89, 143);color:#ffffff; ">
						
						<th>Số tiếp nhận</th>
						<th>Ngày:</th>
						<th>Mã túi máu</th>
						<th>Hạn dùng</th>
						<th>Ngày lấy máu</th>
						<th>Nhóm ABO</th>
						<th>Nhóm RhD</th>
						<th>Số Lượng </th>
						<th>Đơn giá mua</th>
						<th>Loại Sản Phẩm</th>
						<th>Đơn vị giao</th>
						<th>Đơn vị nhận</th>
						<th>Người Nhận</th>
						
						<th>Đặt hàng</th>
						<th>Trạng thái</th>
						<th>Nguồn máu</th>
						<th>Ký hiệu mẫu hóa đơn</th>
						<th>Thành tiền sau VAT</th>
						<th>Số SERI</th>
						<th>Ngày:</th>
						<th>Diễn giải</th>
						<th colspan = "2" >Lựa  Chọn</th>
						</tr >
					</thead>
						<tbody>
						<tr >
						<td> <div id="val-1"></div></td>
						<td><div id = "val-2"></div></td>
						<td><div id ="val-3"></div></td>
						<td><div id="val-4"></div></td>
						<td> <div id="val-5"></div></td>
						<td><div id="val-6"></div></td>
						<td><div id ="val-7"></div></td>
						<td><div id = "val-8"></div></td>
						<td><div id="val-9"></div></td>
						<td> <div id="val-10"></div></td>
						<td><div id="val-11"></div></div></td>
					
						<td><div id ="val-12"></td>
							<td> <div id="val-13"></div></td>
							<td><div id="val-14"></div></div></td>
							<td><div id ="val-15"></td>
								<td> <div id="val-16"></div></td>
								<td><div id="val-17"></div></div></td>
								<td><div id ="val-18"></td>
									<td> <div id="val-19"></div></td>
									<td><div id="val-20"></div></div></td>
									<td><div id ="val-21"></td>
										
						<td><input id="check" type="checkbox"> </td>
						<td><a href=""><img   style =" width: 15px; height: 15px;" src="./image/but.png"></a></td>
						</tr>
						</tr >
						
					
			
					</tbody>
					
									</table>
							
				
					</form>
					</div>
				</div>


      	</div>
	</div><br>

	


    <div class="footer">
    	
      	<span id="footer1">	<marquee>Tư vấn hệ thống - Liên hệ: 070xxxxx - Website công ty: vnptit.vn</marquee></span>
     
      		<span>Copyright &copy; 2019 by VNPT</span>
      	</div>
    
</body>
</html>